<header class="nav">
    <nav class="nav-top">
        <a href="/"><img class="logo" src="/img/logo.png" alt="logo-game-store"></a>
        <form action="/products/search" method="get">
            <input type="text" name="nombre" placeholder="Busca tu producto">
            <button type="submit">Buscar</button>
        </form>
        <ul class="nav-top__links">
            <li><a href="/login">Ingresar</a></li>
            <li><a href="/register">Registrarse</a></li>
        </ul>
    </nav>
    <ul class="nav-down">
        <li><a href="">Nuevo</a></li>
        <li><a href="">Mas vendidos</a></li>
        <li><a href="">Ranking</a></li>
        <li><a href="">Consolas</a></li>
    </ul>
    
</header>